<template>
  <d2-container class="agent-pos-page">
    <el-card>
      <div slot="header">
        <el-row justify="space-between" type="flex">
          <el-col :span="10">
            <el-breadcrumb separator-class="el-icon-arrow-right">
              <el-breadcrumb-item>POS management</el-breadcrumb-item>
              <el-breadcrumb-item>Serial management</el-breadcrumb-item>
            </el-breadcrumb>
          </el-col>
        </el-row>
      </div>
      <el-form label-width="20" size="small" :inline="true" class="m-t-15" :model="form">
        <el-form-item label="serial:" prop="serial">
          <el-input v-model="form.serial"></el-input>
        </el-form-item>
        <el-form-item label="serial time:" prop="datePickerValue">
          <el-date-picker
            type="daterange"
            range-separator="~"
            start-placeholder="start date"
            end-placeholder="end date"
            v-model="form.datePickerValue"
            @change="datePickerChange"
            value-format="yyyy-MM-dd"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="serial Status:" prop="serialStatus">
          <el-select placeholder="serialStatus" v-model="form.serialStatus">
            <el-option
              v-for="item in status"
              :label="item.label"
              :value="item.value"
              :key="item.label"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSearchClick" round>search</el-button>
        </el-form-item>
      </el-form>
    </el-card>
    <el-card class="m-t-15">
      <el-table
        :data="data.list"
        style="width: 100%"
      >
        <el-table-column
          type="index"
          label="number"
          width="100"
          :index="(val) => {
            return (val + 1) + (this.pageNum - 1) * 50
          }"
        ></el-table-column>
        <el-table-column
          prop="agentId"
          label="agent ID"
        ></el-table-column>
        <el-table-column
          prop="serial"
          label="serial"
          width="180"
        ></el-table-column>
        <el-table-column
          prop="status"
          label="status"
        ></el-table-column>
        <el-table-column
          prop="model"
          label="model"
        ></el-table-column>
        <el-table-column
          prop="created"
          label="created time"
        >
          <template slot-scope="scope">
            {{showDay(scope.row.created)}}
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        @current-change="handleCurrentChange"
        :page-size="50"
        :current-page.sync="pageNum"
        layout="total, prev, pager, next, jumper"
        :total="data.total"
        class="pagination-style"
      ></el-pagination>
    </el-card>
  </d2-container>
</template>

<script>
import service from '@/plugin/axios'
import dayjs from 'dayjs'

export default {
  name: 'serial-management',
  data () {
    return {
      status: [{
        label: 'all',
        value: ''
      }, {
        label: 'No agent',
        value: '99'
      }, {
        label: 'Installed',
        value: '00'
      }, {
        label: 'DownTime',
        value: '01'
      }, {
        label: 'Uninstall',
        value: '02'
      }, {
        label: 'rest pwd',
        value: '04'
      }],
      form: {
        serial: '',
        serialStatus: '',
        datePickerValue: '',
        operatingTimeStart: '',
        operatingTimeEnd: ''
      },
      pageNum: 1,
      data: {}
    }
  },
  created () {
    this.searchData()
  },
  methods: {
    showDay (date) {
      return dayjs(date.replace('+0000', '')).format('YYYY MMM DD, hh:mm A')
    },
    searchData () {
      let data = JSON.parse(JSON.stringify(this.form))
      delete data.datePickerValue
      service({
        method: 'post',
        url: `serial/list?pageNum=${this.pageNum}&pageSize=50`,
        data: data
      }).then(response => {
        if (!response.data) return false
        this.data = response.data
      })
    },
    onSearchClick () {
      this.pageNum = 1
      this.searchData()
    },
    handleCurrentChange (val) {
      this.pageNum = val
      this.searchData()
    },
    datePickerChange (date) {
      // this.form.operatingTimeStart = date ? date[0].replace(/-/g, '/') : ''
      // this.form.operatingTimeEnd = date ? date[1].replace(/-/g, '/') : ''
      this.form.operatingTimeStart = date ? date[0] : ''
      this.form.operatingTimeEnd = date ? date[1] : ''
    }
  }
}
</script>

<style lang="scss" scoped>
.m-t-15 {
  margin-top: 15px;
}
.pagination-style {
  float: right;
  margin: 15px 0;
}
.detail-item {
  min-height: 10px;
  padding-left: 30px;
  overflow: hidden;
  margin-bottom: 20px;
}
.detail-item > p {
  margin: 0 30px 0 0;
  float: left;
  color: #606266;
  min-width: 150px;
}
.detail-title {
  text-align: center;
  font-size: 18px;
  margin-top: 0
}
</style>
