<template>
  <d2-container class="page">
    <el-card>
      <div slot="header" class="record-header">
        <div>
          <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item>Transaction management</el-breadcrumb-item>
            <el-breadcrumb-item>Transaction Record</el-breadcrumb-item>
          </el-breadcrumb>
        </div>
      </div>
      <el-form
        label-width="20"
        size="small"
        :inline="true"
        class="m-t-15"
        ref="ruleForm"
        :model="form"
      >
        <el-form-item label="Transaction time:" prop="datePickerValue">
          <el-date-picker
            v-model="form.datePickerValue"
            type="daterange"
            range-separator="~"
            start-placeholder="start date"
            end-placeholder="end date"
            @change="datePickerChange"
            value-format="yyyy-MM-dd"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="Type:" prop="type">
          <el-select placeholder="type" v-model="form.type">
            <el-option
              v-for="item in Type"
              :label="item.label"
              :value="item.value"
              :key="item.label"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="status:" prop="status">
          <el-select placeholder="status" v-model="form.status">
            <el-option
              v-for="item in statusData"
              :label="item.label"
              :value="item.value"
              :key="item.label"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="RRN:" prop="rrn">
          <el-input v-model="form.rrn"></el-input>
        </el-form-item>
        <el-form-item label="STAN:" prop="stan">
          <el-input v-model="form.stan"></el-input>
        </el-form-item>
        <el-form-item label="SN:" prop="sn">
          <el-input v-model="form.sn"></el-input>
        </el-form-item>
        <el-form-item label="terminal ID:" prop="terminalId">
          <el-input v-model="form.terminalId"></el-input>
        </el-form-item>
        <el-form-item label="agent ID:" prop="agentId">
          <el-input v-model="form.agentId"></el-input>
        </el-form-item>
        <el-form-item label="record status:" prop="recordStatus">
          <el-select placeholder="record status" v-model="form.recordStatus">
            <el-option
              v-for="item in recordStatus"
              :label="item.label"
              :value="item.value"
              :key="item.label"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" round @click="searchClick">search</el-button>
          <el-button type="primary" round @click="resetForm('ruleForm')">Clear</el-button>
          <el-button type="primary" round @click="searchClick">Refresh</el-button>
        </el-form-item>
      </el-form>
    </el-card>
    <el-card class="m-t-15">
      <el-table :data="data.list" style="width: 100%" empty-text="Temporarily no data" :fit="true">
        <template v-for="(item) in columns">
          <el-table-column
            :prop="item.prop"
            :label="item.label"
            :type="item.type || ''"
            :min-width="item.minWidth || ''"
            :width="item.width || ''"
            :key="item.label"
            :index="item.index || null"
            align="center"
            :class-name="item.className || ''"
            :formatter="item.formatter"
          ></el-table-column>
        </template>
      </el-table>
      <el-pagination
        @current-change="handleCurrentChange"
        :page-size="50"
        :current-page.sync="pageNum"
        layout="total, prev, pager, next, jumper"
        :total="data.total"
        class="pagination-style"
      ></el-pagination>
    </el-card>
  </d2-container>
</template>

<script>
import service from '@/plugin/axios'
import '@/plugin/utils/download'
import dayjs from 'dayjs'

export default {
  name: 'transaction-record',
  data () {
    return {
      isShow: false,
      isLoading: false,
      columns: [
        {
          label: 'number',
          type: 'index',
          prop: '',
          width: 80,
          index: (val) => {
            return (val + 1) + (this.pageNum - 1) * 50
          }
        },
        {
          label: 'rrn',
          prop: 'rrn',
          minWidth: 130
        },
        {
          label: 'system record time',
          prop: 'systemRecordTime',
          minWidth: 200,
          formatter: (row) => {
            return dayjs(row.systemRecordTime.replace('+0000', '')).format('YYYY MMM DD, hh:mm A')
          }
        },
        {
          label: 'amount',
          prop: 'amount',
          minWidth: 180
        },
        {
          label: 'status',
          prop: 'status',
          minWidth: 100,
          className: 'status-color',
          formatter: (row) => {
            if (row.status !== 'SUCCESS') {
              return <span style="color: red">{row.status}</span>
            } else {
              return row.status
            }
          }
        },
        {
          label: 'record status',
          prop: 'recordStatus',
          minWidth: 100
        },
        {
          label: 'report time',
          prop: 'reportTime',
          minWidth: 200,
          formatter: (row) => {
            return dayjs(row.reportTime.replace('+0000', '')).format('YYYY MMM DD, hh:mm A')
          }
        },
        {
          label: 'agent ID',
          prop: 'agentId',
          minWidth: 180
        },
        {
          label: 'sn',
          prop: 'sn',
          minWidth: 160
        },
        {
          label: 'terminal ID',
          prop: 'terminalId',
          minWidth: 130
        },
        {
          label: 'stan',
          prop: 'stan',
          minWidth: 100
        },
        {
          label: 'system record number',
          prop: 'systemRecordNumber',
          minWidth: 230
        },
        {
          label: 'type',
          prop: 'cardType',
          minWidth: 100
        },
        {
          label: 'pan',
          prop: 'pan',
          minWidth: 180
        },
        {
          label: 'card type',
          prop: 'cardType',
          minWidth: 130
        },
        {
          label: 'transaction time',
          prop: 'transactionTime',
          minWidth: 130
        },
        {
          label: 'status description',
          prop: 'statusDescription',
          minWidth: 130
        }
      ],
      Type: [
        {
          label: 'all',
          value: ''
        },
        {
          label: 'purchase',
          value: 'Purchase'
        },
        {
          label: 'cashout',
          value: 'Cashout'
        }
      ],
      statusData: [
        {
          label: 'all',
          value: ''
        },
        {
          label: 'sucess',
          value: '00'
        },
        {
          label: 'failure',
          value: '01'
        }
      ],
      recordStatus: [
        {
          label: 'all',
          value: ''
        },
        {
          label: 'Unsynced',
          value: 0
        },
        {
          label: 'Synced',
          value: 1
        }
      ],
      buttonSpan: 2,
      data: {},
      pageNum: 1,
      form: {
        datePickerValue: '',
        transactionStart: '',
        transactionEnd: '',
        type: '',
        status: '',
        rrn: '',
        stan: '',
        sn: '',
        terminalId: '',
        agentId: ''
      }
    }
  },
  created () {
    this.searchData()
  },
  methods: {
    // 批量
    onBatchClick () {
      this.columns.unshift({
        label: '',
        prop: '',
        type: 'selection',
        minWidth: 55
      })
      this.buttonSpan = 3
    },
    // 取消批量
    onCancelClick () {
      this.buttonSpan = 2
      this.columns.shift()
    },
    // 重置搜索域的值
    resetForm (formName) {
      this.$refs[formName].resetFields()
      this.searchClick()
    },
    searchClick () {
      this.pageNum = 1
      this.searchData()
    },
    searchData () {
      let data = JSON.parse(JSON.stringify(this.form))
      delete data.datePickerValue
      service({
        method: 'post',
        url: `transaction/list?pageNum=${this.pageNum}&pageSize=50`,
        data: data
      }).then(response => {
        if (!response.data) return false
        this.data = response.data
      })
    },
    datePickerChange (date) {
      // this.form.transactionStart = date ? date[0].replace(/-/g, '/') : ''
      // this.form.transactionEnd = date ? date[1].replace(/-/g, '/') : ''
      this.form.transactionStart = date ? date[0] : ''
      this.form.transactionEnd = date ? date[1] : ''
    },
    chengaSearchData (value, type) {
      this.form[type] = value
      console.log(this.form)
    },
    handleCurrentChange (val) {
      this.pageNum = val
      this.searchData()
    },
    onExportClick () {
      this.isLoading = true
      service({
        method: 'post',
        url: 'transaction/export'
      }).then(response => {
        this.isLoading = false
        window.download(response)
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.m-t-15 {
  margin-top: 15px;
}
.pagination-style {
  float: right;
  margin: 15px 0;
}
.record-header {
  display: flex;
  justify-content: space-between;
}
</style>
