<template>
  <d2-container class="agent-pos-page">
    <el-card>
      <div slot="header">
        <el-row justify="space-between" type="flex">
          <el-col :span="10">
            <el-breadcrumb separator-class="el-icon-arrow-right">
              <el-breadcrumb-item>iPos</el-breadcrumb-item>
              <el-breadcrumb-item>iPos-cashback</el-breadcrumb-item>
            </el-breadcrumb>
          </el-col>
        </el-row>
      </div>
      <el-form label-width="20" size="small" :inline="true" class="m-t-15" :model="form">
        <el-form-item label="Status:" prop="status">
          <el-select placeholder="Status" v-model="form.status">
            <el-option
              v-for="item in status"
              :label="item.label"
              :value="item.value"
              :key="item.label"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Receipt Account:" prop="receiptAccount">
          <el-input v-model="form.receiptAccount"></el-input>
        </el-form-item>
        <el-form-item label="Payment Id:" prop="paymentId">
          <el-input v-model="form.paymentId"></el-input>
        </el-form-item>
        <el-form-item label="Activity Id:" prop="activityId">
          <el-input v-model="form.activityId"></el-input>
        </el-form-item>
        <el-form-item label="CashBack Target:" prop="cashBackTarget">
          <el-select placeholder="CashBackTarget" v-model="form.cashBackTarget">
            <el-option
              v-for="item in cashBackTarget"
              :label="item.label"
              :value="item.value"
              :key="item.label"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Time:" prop="datePickerValue">
          <el-date-picker
            type="daterange"
            range-separator="~"
            start-placeholder="start date"
            end-placeholder="end date"
            v-model="form.datePickerValue"
            @change="datePickerChange"
            value-format="yyyy-MM-dd"
            :picker-options="pickerOptions"
          ></el-date-picker>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSearchClick" round>search</el-button>
        </el-form-item>
      </el-form>
    </el-card>
    <el-card class="m-t-15">
      <el-table
        :data="data.list"
        style="width: 100%"
      >
        <el-table-column
          type="index"
          label="number"
          width="100"
          :index="(val) => {
            return (val + 1) + (this.pageNum - 1) * 50
          }"
        ></el-table-column>
        <el-table-column
          prop="orderId"
          label="order id"
          width="180"
        ></el-table-column>
        <el-table-column
          prop="activityId"
          label="activity id"
          width="180"
        ></el-table-column>
        <el-table-column
          prop="activityTitle"
          label="activity title"
          width="180"
        ></el-table-column>
        <el-table-column
          prop="receiptId"
          label="receipt id"
          width="180"
        ></el-table-column>
        <el-table-column
          prop="senderId"
          label="sender id"
          width="180"
        ></el-table-column>
        <el-table-column
          prop="ppTradeNo"
          label="pp trade no"
          width="180"
        ></el-table-column>
        <el-table-column
          prop="paymentId"
          label="payment id"
          width="180"
        ></el-table-column>
        <el-table-column
          prop="cashbackTarget"
          label="cashback target"
          width="180"
        ></el-table-column>
        <el-table-column
          prop="orgPaymentAmount"
          label="org payment amount"
          width="180"
        ></el-table-column>
        <el-table-column
          prop="orderType"
          label="order type"
          width="100"
        ></el-table-column>
        <el-table-column
          prop="tradeStatus"
          label="trade status"
          width="140"
        ></el-table-column>
        <el-table-column
          prop="createTime"
          label="create time"
          width="200"
        >
          <template slot-scope="scope">
            {{showDay(scope.row.createTime)}}
          </template>
        </el-table-column>
        <el-table-column
          prop="modifyTime"
          label="modify time"
          width="200"
        >
          <template slot-scope="scope">
            {{showDay(scope.row.modifyTime)}}
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        @current-change="handleCurrentChange"
        :page-size="50"
        :current-page.sync="pageNum"
        layout="total, prev, pager, next, jumper"
        :total="data.total"
        class="pagination-style"
      ></el-pagination>
    </el-card>
  </d2-container>
</template>

<script>
import service from '@/plugin/axios'
import dayjs from 'dayjs'

const getDateOfParams = n => {
  var day1 = new Date()
  day1.setTime(day1.getTime() - 24 * 60 * 60 * 1000 * n)
  return day1.getFullYear() + '-' + (day1.getMonth() + 1) + '-' + day1.getDate()
}

export default {
  name: 'ipos-cashback',
  data () {
    return {
      status: [{
        label: 'all',
        value: ''
      }, {
        label: 'pending',
        value: 'PENDING'
      }, {
        label: 'success',
        value: 'SUCCESS'
      }],
      cashBackTarget: [{
        label: 'all',
        value: ''
      }, {
        label: 'user',
        value: 'user'
      }, {
        label: 'merchant',
        value: 'merchant'
      }],
      form: {
        receiptAccount: '',
        status: '',
        PaymentId: '',
        datePickerValue: [dayjs(getDateOfParams(7)).format('YYYY-MM-DD'), dayjs(getDateOfParams(0)).format('YYYY-MM-DD')],
        cashBackTarget: '',
        activityId: '',
        start: dayjs(getDateOfParams(7)).format('YYYY-MM-DD'),
        end: dayjs(getDateOfParams(0)).format('YYYY-MM-DD')
      },
      pageNum: 1,
      data: {
        list: []
      },
      pickerOptions: {
        disabledDate(time) {
          return time.getTime() > Date.now();
        }
      }
    }
  },
  created () {
    this.searchData()
  },
  methods: {
    showDay (date) {
      return dayjs(date.replace('+0000', '')).format('YYYY MMM DD, hh:mm A')
    },
    searchData () {
      let data = JSON.parse(JSON.stringify(this.form))
      delete data.datePickerValue
      service({
        method: 'POST',
        url: `transaction/pos/cash-back?pageNum=${this.pageNum}&pageSize=50`,
        data: data
      }).then(response => {
        if (response.retCode !== 200) return false
        this.data = response.data
      })
    },
    onSearchClick () {
      this.pageNum = 1
      this.searchData()
    },
    handleCurrentChange (val) {
      this.pageNum = val
      this.searchData()
    },
    datePickerChange (date) {
      // this.form.operatingTimeStart = date ? date[0].replace(/-/g, '/') : ''
      // this.form.operatingTimeEnd = date ? date[1].replace(/-/g, '/') : ''
      this.form.start = date ? date[0] : ''
      this.form.end = date ? date[1] : ''
    }
  }
}
</script>

<style lang="scss" scoped>
.m-t-15 {
  margin-top: 15px;
}
.pagination-style {
  float: right;
  margin: 15px 0;
}
.detail-item {
  min-height: 10px;
  padding-left: 30px;
  overflow: hidden;
  margin-bottom: 20px;
}
.detail-item > p {
  margin: 0 30px 0 0;
  float: left;
  color: #606266;
  min-width: 150px;
}
.detail-title {
  text-align: center;
  font-size: 18px;
  margin-top: 0
}
</style>
