<template>
  <d2-container class="agent-pos-page">
    <el-card>
      <div slot="header">
        <el-row justify="space-between" type="flex">
          <el-col :span="10">
            <el-breadcrumb separator-class="el-icon-arrow-right">
              <el-breadcrumb-item>POS management</el-breadcrumb-item>
              <el-breadcrumb-item>Agent POS management</el-breadcrumb-item>
            </el-breadcrumb>
          </el-col>
          <el-col :span="2">
            <el-button type="primary" @click="installClick">Installed</el-button>
          </el-col>
        </el-row>
      </div>
      <el-form label-width="20" size="small" :inline="true" class="m-t-15" :model="form">
        <el-form-item label="AgentID:" prop="agentId">
          <el-input v-model="form.agentId"></el-input>
        </el-form-item>
        <el-form-item label="Agent name:" prop="agentName">
          <el-input v-model="form.agentName"></el-input>
        </el-form-item>
        <el-form-item label="Agent phone:" prop="agentPhone">
          <el-input v-model="form.agentPhone"></el-input>
        </el-form-item>
        <el-form-item label="SN status:" prop="agentStatus">
          <el-select placeholder="status" v-model="form.agentStatus">
            <el-option
              v-for="item in status"
              :label="item.label"
              :value="item.value"
              :key="item.label"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSearchClick" round>search</el-button>
        </el-form-item>
      </el-form>
    </el-card>
    <el-card class="m-t-15">
      <el-table
        :data="data.list"
        style="width: 100%"
      >
        <el-table-column
          type="index"
          label="number"
          width="100"
          :index="(val) => {
            return (val + 1) + (this.pageNum - 1) * 50
          }"
        ></el-table-column>
        <el-table-column
          prop="agentName"
          label="agent name"
          width="180"
        ></el-table-column>
        <el-table-column
          prop="agentId"
          label="agent ID"
        ></el-table-column>
        <el-table-column
          prop="agentStatus"
          label="agent status"
        ></el-table-column>
        <el-table-column
          prop="agentPhone"
          label="agent phone"
        ></el-table-column>
        <el-table-column
          prop=""
          label="operating"
        >
          <template slot-scope="scope">
            <el-button type="primary" size="small" @click="onRouteClick('agency-detail', scope.row)">view</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        @current-change="handleCurrentChange"
        :page-size="50"
        :current-page.sync="pageNum"
        layout="total, prev, pager, next, jumper"
        :total="data.total"
        class="pagination-style"
      ></el-pagination>
    </el-card>
    <el-dialog
      title="Installed"
      :visible.sync="dialogVisible"
      width="35%"
      custom-class="install-dialog"
    >
      <template v-if="!isDialogNext">
        <el-form :model="installForm" label-width="100px">
          <el-form-item label="TID server:" prop="tidServer">
            <el-select placeholder="TID server" v-model="installForm.tidServer">
              <el-option
                :label="item.label"
                :value="item.value"
                v-for="item in tidServer"
                :key="item.label"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="Agent phone: ">
            <el-input v-model="installForm.phone" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="SN: ">
            <el-input v-model="installForm.sn" autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer">
          <el-button type="primary" @click="onInstallClick" :disabled="installForm.phone == '' || installForm.sn == '' || installForm.tidServer == ''">Installed</el-button>
          <el-button @click="onCancelClick">Cancel</el-button>
        </div>
      </template>
      <template v-if="isDialogNext">
        <p class="detail-title">Successful installation！</p>
        <div class="detail-item">
          <p>Status：{{detailData.status || '-'}}</p>
          <p>SN：{{detailData.sn || '-'}}</p>
        </div>
        <div class="detail-item">
          <p>Agent ID：{{detailData.agentId || '-'}}</p>
          <p>Terminal ID：{{detailData.terminalId || '-'}}</p>
        </div>
        <div class="detail-item">
          <p>Agent name：{{detailData.agentName || '-'}}</p>
          <p>Terminal bank：{{detailData.terminalBank || '-'}}</p>
        </div>
        <div class="detail-item">
          <p>Agent phone：{{detailData.agentPhone || '-'}}</p>
          <p>Agent email：{{detailData.agentEmail || '-'}}</p>
        </div>
        <div class="detail-item">
          <p>Agent Address：LagosLagosLagosLagosLagosLagosLagos</p>
        </div>
        <div slot="footer">
          <el-button type="primary" @click="onCancelClick">Ok</el-button>
        </div>
      </template>
    </el-dialog>
  </d2-container>
</template>

<script>
import service from '@/plugin/axios'
export default {
  name: 'agent-pos-management',
  data () {
    return {
      status: [{
        label: 'all',
        value: ''
      }, {
        label: 'Using',
        value: '00'
      }, {
        label: 'Disable',
        value: '01'
      }],
      tidServer: [{
        label: 'EPMS',
        value: 'epms'
      }, {
        label: 'POS vas',
        value: 'posvas'
      }],
      dialogVisible: false,
      isDialogNext: false,
      form: {
        agentId: '',
        agentStatus: '',
        agentPhone: '',
        agentName: ''
      },
      pageNum: 1,
      data: {},
      installForm: {
        phone: '',
        sn: '',
        tidServer: ''
      },
      detailData: {}
    }
  },
  created () {
    this.searchData()
  },
  methods: {
    searchData () {
      let data = JSON.parse(JSON.stringify(this.form))
      service({
        method: 'post',
        url: `agent/list?pageNum=${this.pageNum}&pageSize=50`,
        data: data
      }).then(response => {
        if (!response.data) return false
        this.data = response.data
      })
    },
    onRouteClick (name, row) {
      this.$router.push({
        name: name,
        params: { id: row.id },
        query: {
          agentName: row.agentName || '',
          agentId: row.agentId || '',
          agentPhone: row.agentPhone || '',
          agentEmail: row.agentEmail || '',
          agentCountry: row.agentCountry || '',
          agentStatus: row.agentStatus || ''
        }
      })
    },
    onSearchClick () {
      this.pageNum = 1
      this.searchData()
    },
    handleCurrentChange (val) {
      this.pageNum = val
      this.searchData()
    },
    // 绑定
    installClick () {
      this.dialogVisible = true
      this.installForm = {
        phone: '',
        sn: '',
        tidServer: ''
      }
    },
    onCancelClick () {
      this.dialogVisible = false
      this.installForm = {
        phone: '',
        sn: ''
      }
      this.detailData = {}
      this.isDialogNext = false
    },
    onInstallClick () {
      service({
        method: 'get',
        url: `terminal/install?phone=${this.installForm.phone}&sn=${this.installForm.sn}&tidServer=${this.installForm.tidServer}`
      }).then(response => {
        if (response.retCode !== 200) {
          this.$message.error(response.message)
          return false
        }
        this.detailData = response.data
        this.isDialogNext = true
      }).catch(() => {
        this.isDialogNext = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.m-t-15 {
  margin-top: 15px;
}
.pagination-style {
  float: right;
  margin: 15px 0;
}
.detail-item {
  min-height: 10px;
  padding-left: 30px;
  overflow: hidden;
  margin-bottom: 20px;
}
.detail-item > p {
  margin: 0 30px 0 0;
  float: left;
  color: #606266;
  min-width: 150px;
}
.detail-title {
  text-align: center;
  font-size: 18px;
  margin-top: 0
}
</style>
