<template>
  <d2-container class="page">
    <el-card>
      <div slot="header">
        <el-row justify="space-between" type="flex">
          <el-col :span="10">
            <el-breadcrumb separator-class="el-icon-arrow-right">
              <el-breadcrumb-item>POS management</el-breadcrumb-item>
              <el-breadcrumb-item>Agent POS management</el-breadcrumb-item>
            </el-breadcrumb>
          </el-col>
        </el-row>
      </div>
      <div class="detail-item">
        <p>Agent name: {{queryData.agentName || '--'}}</p>
        <p>Agent ID: {{queryData.agentId || '--'}}</p>
      </div>
      <div class="detail-item">
        <p>Agent phone: {{queryData.agentPhone || '--'}}</p>
        <p>Agent email: {{queryData.agentEmail || '--'}}</p>
      </div>
      <div class="detail-item">
        <p>Country: {{queryData.agentCountry || '--'}}</p>
        <p>Status: {{queryData.agentStatus || '--'}}</p>
      </div>
      <div class="detail-item">
        <p>Installed</p>
      </div>
      <div class="table-container">
        <el-table :data="listData" style="width: 100%" :border="true">
          <el-table-column
            type="index"
            label="number"
            width="100"
            align="center"
            :index="(val) => {
              return val + 1
            }"
          ></el-table-column>
          <el-table-column prop="sn" label="sn" width="180" align="center"></el-table-column>
          <el-table-column prop="tid" label="tid" align="center"></el-table-column>
          <el-table-column prop="installTime" label="installed time" align="center">
            <template slot-scope="scope">
              {{setDate(scope.row.installTime)}}
            </template>
          </el-table-column>
          <el-table-column label="operating" align="center">
            <template slot-scope="scope">
              <el-button type="primary" size="small" @click="onShowDialog(scope.row)">uninstall</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </el-card>
    <el-dialog
      title="Uninstall"
      :visible.sync="dialogVisible"
      width="30%"
    >
      <span>Do you want to uninstall</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="unInstallClick">Yes</el-button>
        <el-button type="primary" @click="dialogVisible = false">No</el-button>
      </span>
    </el-dialog>
  </d2-container>
</template>

<script>
import service from '@/plugin/axios'
import dayjs from 'dayjs'

export default {
  name: 'agency-detail',
  data () {
    return {
      queryData: {},
      listData: [],
      dialogVisible: false
    }
  },
  created () {
    this.queryData = this.$route.query
    this.getData()
  },
  methods: {
    setDate (date) {
      if (!date) return '--'
      return dayjs(date.replace('+0000', '')).format('YYYY MMM DD, hh:mm A')
    },
    getData () {
      service({
        method: 'get',
        url: `terminal/agentTerminal?agentId=${this.$route.params.id}`
      }).then(response => {
        if (!response.data) return false
        this.listData = response.data
      })
    },
    onShowDialog (row) {
      this.terminalId = row.id
      this.dialogVisible = true
    },
    unInstallClick () {
      service({
        method: 'get',
        url: `terminal/uninstall?terminalId=${this.terminalId}`
      }).then(response => {
        if (response.retCode !== 200) {
          this.$message.error(response.message)
          return false
        }
        this.dialogVisible = false
        this.getData()
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.detail-item {
  height: 50px;
  width: 100%;
  padding-left: 30px;
}
.detail-item > p {
  margin-right: 30px;
  float: left;
  min-width: 300px;
  color: #606266;
}
.table-container {
  padding: 0 30px;
}
</style>
