<template>
  <d2-container class="page">
    <el-card>
      <h4>Select import type</h4>
      <el-select placeholder="type" v-model="type">
        <el-option label="SN" value="SN"></el-option>
        <el-option label="TID" value="TID"></el-option>
      </el-select>
      <h4>upload data</h4>
      <el-button
        type="primary"
        class="download-btn"
        @click="downloadTemplate"
      >
        download template
        <i class="el-icon-download el-icon--right"></i>
      </el-button>
      <el-upload
        class="upload-box"
        drag
        :action="type === 'SN' ? `${VUE_APP_API}serial/import` : `${VUE_APP_API}terminal/import`"
        :http-request="UploadExcel"
        :on-change="fileChange"
        :show-file-list="true"
        :file-list="fileList"
      >
        <i class="el-icon-upload"></i>
        <div class="el-upload__text">Drag the file here, or<em>Click on the upload</em></div>
        <div class="el-upload__tip" slot="tip">Only excel files can be uploaded</div>
      </el-upload>
    </el-card>
  </d2-container>
</template>

<script>
import service from '@/plugin/axios'

export default {
  name: 'terminal-storage-import',
  data () {
    return {
      type: 'SN',
      VUE_APP_API: '',
      fileList: []
    }
  },
  created () {
    this.VUE_APP_API = process.env.VUE_APP_API
  },
  methods: {
    UploadExcel (param) {
      const formData = new FormData()
      formData.append('file', param.file)
      service({
        method: 'POST',
        url: this.type === 'SN' ? `${this.VUE_APP_API}serial/import` : `${this.VUE_APP_API}terminal/import`,
        data: formData
      }).then(response => {
        if (response.retCode !== 200) {
          this.$message.error(response.message)
          param.onError()
          return false
        }
        this.$message.success(response.data)
        param.onSuccess()
      }).catch(() => {
        param.onError()
      })
    },
    fileChange (file) {
      this.fileList = [{ name: file.name, url: file.url }]
    },
    downloadTemplate () {
      const url = window.location.origin
      window.location.href = `${url}/${this.type === 'SN' ? '/doc/sn_template.xlsx' : '/doc/tid_template.xlsx'}`
    }
  }
}
</script>

<style lang="scss" scope>
.download-btn {
  margin-bottom: 15px;
}
</style>
