<template>
  <d2-container class="page">
    <el-card>
      <div slot="header">
        <el-row justify="space-between" type="flex">
          <el-col :span="6">
            <el-breadcrumb separator-class="el-icon-arrow-right">
              <el-breadcrumb-item>POS management</el-breadcrumb-item>
              <el-breadcrumb-item>Terminal storage</el-breadcrumb-item>
            </el-breadcrumb>
          </el-col>
          <el-col :span="2">
            <el-button type="primary" @click="onImportClick">import</el-button>
          </el-col>
        </el-row>
      </div>
      <el-form
        label-width="20"
        size="small"
        :inline="true"
        class="m-t-15"
        :model="form"
      >
        <el-form-item label="SN:" prop="sn">
          <el-input v-model="form.sn"></el-input>
        </el-form-item>
        <el-form-item label="TID:" prop="terminalId">
          <el-input v-model="form.terminalId"></el-input>
        </el-form-item>
        <el-form-item label="SN status:" prop="snStatus">
          <el-select placeholder="status" v-model="form.snStatus">
            <el-option
              :label="item.label"
              :value="item.value"
              v-for="item in status"
              :key="item.label"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="TID server:" prop="tidServer">
          <el-select placeholder="TID server" v-model="form.tidServer">
            <el-option
              :label="item.label"
              :value="item.value"
              v-for="item in tidServer"
              :key="item.label"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="operating time:" prop="datePickerValue">
          <el-date-picker
            type="daterange"
            range-separator="~"
            start-placeholder="start date"
            end-placeholder="end date"
            v-model="form.datePickerValue"
            @change="datePickerChange"
            value-format="yyyy-MM-dd"
          ></el-date-picker>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" round @click="searchClick">search</el-button>
        </el-form-item>
      </el-form>
    </el-card>
    <el-card class="m-t-15">
      <el-table
        :data="data.list"
        style="width: 100%"
      >
        <el-table-column
          type="index"
          label="number"
          width="100"
          :index="(val) => {
            return (val + 1) + (this.pageNum - 1) * 50
          }"
        ></el-table-column>
        <el-table-column
          prop="operatingTime"
          label="operating time"
          width="180"
        >
          <template slot-scope="scope">
            {{showDay(scope.row.operatingTime)}}
          </template>
        </el-table-column>
        <el-table-column
          prop="status"
          label="status"
        ></el-table-column>
        <el-table-column
          prop="sn"
          label="sn"
        ></el-table-column>
        <el-table-column
          prop="tid"
          label="tid"
        ></el-table-column>
        <el-table-column
          prop="tidBank"
          label="tid bank"
        ></el-table-column>
        <el-table-column
          prop="tidServer"
          label="tid server"
        ></el-table-column>
        <el-table-column
          prop="agentId"
          label="agent id"
        ></el-table-column>
        <el-table-column
          prop=""
          label="operating"
        >
          <template slot-scope="scope">
            <el-button type="primary" size="small" @click="onViewClick(scope.row)">view</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        @current-change="handleCurrentChange"
        :page-size="50"
        :current-page.sync="pageNum"
        layout="total, prev, pager, next, jumper"
        :total="data.total"
        class="pagination-style"
      ></el-pagination>
    </el-card>
     <el-dialog
      title="Details"
      :visible.sync="dialogVisible"
      width="40%"
      custom-class="install-dialog"
      @close="onCloseDialog"
    >
      <div class="detail-item">
        <p>Status：{{detailData.status || '-'}}</p>
        <p>SN：{{detailData.sn || '-'}}</p>
      </div>
      <div class="detail-item" v-if="isStatus === 'Installed'">
        <p>Agent ID：{{detailData.agentId || '-'}}</p>
        <p>Terminal ID：{{detailData.terminalId || '-'}}</p>
      </div>
      <div class="detail-item" v-if="isStatus === 'Installed'">
        <p>Agent name：{{detailData.agentName || '-'}}</p>
        <p>Terminal bank：{{detailData.terminalBank || '-'}}</p>
      </div>
      <div class="detail-item" v-if="isStatus === 'Installed'">
        <p>Agent phone：{{detailData.agentPhone || '-'}}</p>
        <p>Agent email：{{detailData.agentEmail || '-'}}</p>
      </div>
      <div class="detail-item" v-if="isStatus === 'Installed'">
        <p>Agent {{detailData.agentAddress || '-'}}</p>
      </div>
      <div class="detail-title">Operation log</div>
      <div class="detail-textarea">
        <div
          v-for="item in detailData.operationLogs"
          :key="item.date"
        >
          <p>{{showDay(item.date)}}</p>
          <p>{{item.description}}</p>
        </div>
      </div>
    </el-dialog>
  </d2-container>
</template>

<script>
import service from '@/plugin/axios'
import dayjs from 'dayjs'

export default {
  name: 'terminal-storage',
  data () {
    return {
      data: {},
      detailData: {},
      pageNum: 1,
      form: {
        datePickerValue: '',
        sn: '',
        terminalId: '',
        snStatus: '',
        operatingTimeStart: '',
        operatingTimeEnd: '',
        tidServer: ''
      },
      status: [{
        label: 'All',
        value: ''
      }, {
        label: 'Installed',
        value: '00'
      }, {
        label: 'Uninstall',
        value: '02'
      }, {
        label: 'No agent',
        value: '99'
      }, {
        label: 'TerminalDownTime',
        value: '01'
      }],
      tidServer: [{
        label: 'All',
        value: ''
      }, {
        label: 'EPMS',
        value: 'epms'
      }, {
        label: 'POS vas',
        value: 'posvas'
      }],
      dialogVisible: false,
      isStatus: 'Installed'
    }
  },
  created () {
    this.searchData()
  },
  methods: {
    showDay (date) {
      return dayjs(date.replace('+0000', '')).format('YYYY MMM DD, hh:mm A')
    },
    searchData () {
      let data = JSON.parse(JSON.stringify(this.form))
      delete data.datePickerValue
      service({
        method: 'post',
        url: `terminal/list?pageNum=${this.pageNum}&pageSize=50`,
        data: data
      }).then(response => {
        if (!response.data) return false
        this.data = response.data
      })
    },
    datePickerChange (date) {
      this.form.operatingTimeStart = date ? date[0] : ''
      this.form.operatingTimeEnd = date ? date[1] : ''
    },
    searchClick () {
      this.pageNum = 1
      this.searchData()
    },
    handleCurrentChange (val) {
      this.pageNum = val
      this.searchData()
    },
    onCloseDialog () {
      this.detailData = {}
    },
    onViewClick (row) {
      this.isStatus = row.status
      this.dialogVisible = true
      service({
        method: 'get',
        url: `terminal/detail?id=${row.id}`
      }).then(response => {
        if (!response.data) return false
        this.detailData = response.data
      })
    },
    onImportClick () {
      this.$router.push({
        name: 'terminal-storage-import'
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.m-t-15 {
  margin-top: 15px;
}
.pagination-style {
  float: right;
  margin: 15px 0;
}
.detail-item {
  min-height: 10px;
  padding-left: 30px;
  overflow: hidden;
  margin-bottom: 10px;
}
.detail-item > p {
  margin: 0 30px 0 0;
  float: left;
  color: #606266;
  min-width: 200px;
}
.detail-title {
  padding-top: 10px;
  line-height: 24px;
  font-size: 18px;
  color: #303133;
}
.detail-textarea {
  padding: 5px 15px;
  line-height: 1.5;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  color: #606266;
  background-color: #fff;
  background-image: none;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  margin: 10px;
}
.detail-textarea > div {
  margin-bottom: 5px;
}
.detail-textarea p {
  margin-bottom: 0;
  margin-top: 0;
}
</style>
